*{
    box-sizing: border-box;
    margin: 0;
}

h2{
    color:#212121;
    font-size: 36px;
    font-family:'Raleway',sans-serif;
    font-weight: 400;
    text-align: center;
   }

h3{
    font-size: 20px;
    margin:29px 0;
    font-weight: 700;
    color: #333;
}

h4 {
    font-weight: 400;
    color: #86878B;
    font-size: 14px;
    text-align: center;
}

hr{
    width: 64px;
    height: 2px;
    border:none;
    background:orange;
    margin:30px auto;
}

header{
    width: 100%;
    background-color:black;
}

header span{
    color: orange;
}

header h2{
    padding: 21px 582px 23px 150px;
    display: inline-block;
    color:white;
    font-size: 27px;
}

header p{
    font-size: 14px;
    display: inline-block;
    color: #FFFFFF;
    padding-right: 48px;  
}

.Axit{
    width: 100%;
    background: url(../img/BIGCITY.jpeg); 
}

.WWW img{
    margin-left: 150px;
}

h1{
    color:#FFFFFF;
    font-family: 'Raleway','AdobeInvisFont','MyriadPro-Regular';
    font-size : 36px;
    padding-left: 150px;
    margin-top : 33px;
    font-weight: 400;
}

.WWW{
    display: inline-block; 
    margin-right: 222px;
    margin-top: 109px; 
} 

.WWW hr{
    width: 64px;
    height: 2px;
    margin: 36px 0 0 150px  ;
    background-color: white;
}

.WWW p{
    opacity: 0.8;
    color:#FFFFFF;
    font-family:'Raleway-Light','AdobeInvisFont','MyriadPro-Regular';
    font-size: 16px;
    margin-left: 150px;
    margin-top: 30px;
}

.WWW button{
    margin-top:44px;
    width: 135px;
    height:42px;
    font-size: 15px;
    color: #FFFFFF;
    background: transparent;
    border:2px solid #FFFFFF;
    margin-left: 150px;
}

.Registration{
    background-color: white;
    width: 360px;
    display: inline-block;
    margin-bottom: 140px;
}

.Registration input[type="text"]  {
    width: 285px;
    height: 31px; 
    margin-bottom: 36px;
    padding-left: 14px;
    border:1px solid grey;
    margin-left:45px;
}

.Registration p{
    font-size: 20px;
    padding: 18px 0 15px 0;
    color: #333333;
    margin-left:45px;
}

.Registration span{
    color: orange;
}

.Registration button{
    width: 360px;
    height: 54px;
    background-color: orange;
    color: white;
}

.Social{
    width: 100%;
    background-color:#FFFFFF;
}

.Media{
    width: 360px;
    margin-left:152px;
    display: inline-block;
    margin-right: 87px;
}

.Media p{
    color:#86878B;
    font-family:'OpenSans','AdobeInvisFont','MyriadPro-Regular';
    font-size:14px;
}

.Media h4{
    font-size: 20px;
    color:#333333;
    font-family:'OpenSans-Bold','AdobeInvisFont','MyriadPro-Regular';
    padding:23px 0px 12px 0px;
    text-align: left;
}

.Link{
    padding: 30px auto 30px 87px;
    display: inline-block; 
    
}

.Link li{
    display: inline-block ;
    padding-right: 50px;   
}

.Tab {
    width: 100%;
    height: 596px;  
    background-color:#F5F5F5;
}

.kvadrat{
    width: 112px;
    height: 336px;
    display: inline-block;
    margin-right: 99px;
    margin-top: 148px;
}

#square{
    width: 112px;
    height: 112px;
    background-color:orange;
    border: 1px solid grey;
    margin-left: 142px;
}

#square-1{
    width: 112px;
    height: 112px;
    background-color:black;
    border: 1px solid grey;
    margin-left: 142px;
}
#square-2{
    width: 112px;
    height: 112px;
    background-color:black;
    border: 1px solid grey;
    margin-left: 142px;
}
abbr{
    font-size: 15px;
    padding-left: 35px;
    padding-top: 50px;
    color: #FFFFFF;
    display: block;
}

.words{
    width:344px;
    height: 302px;
    display: inline-block;
    margin-right: 103px ;
    margin-top: 156px;
    margin-left: 99px;
}

.words h5{
    font-family: 'OpenSans-Bold','AdobeInvisFont','MyriadPro-Regular';
    font-size: 20px;
    color: #000000;
    text-align: left; 
}

.words p{
    font-size:14px;
    color: #86878B;
    text-align: left;
    font-weight: 400;
    font-family: 'OpenSans','AdobeInvisFont','MyriadPro-Regular';
    padding-top: 50px; 
}

.words button{
    width: 135px;
    height:42px;
    font-size: 15px;
    margin-top: 50px;
    background:orange;
    border:2px solid orange; 
    margin-right: 379px;
}

.Picture{
    width: 320px;
    height: 253px;
    display: inline-block;
    margin-top: 172px;
}

.Awesome{ 
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    padding-top: 109px;
}

.Awesome-block{
    padding: 80px 0 107px;
    font-size: 0;
}

.first{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 35px;
    border: 2px solid orange;
}

.Awesome-block{
    display: inline-block;
    width: 350px;
    margin: 0 16px;   
}

.Awesome p{
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
    font-family: 'OpenSans','AdobeInvisFont','MyriadPro-Regular';
}

.ican--lamp{
    background: url(../img/lamp.jpg) no-repeat center center;
}

.ican--keyboard{
    background: url(../img/keyboard.jpg) no-repeat center center;   
}

.ican--lighting{
    background: url(..//img/lighting.jpg) no-repeat center center;  
}

.Pricing{
    width:100%;
    background-color:#F5F5F5;
    padding-top: 109px;
}
.Pricing h5{
    font-size: 20px;
    font-family: 'OpenSans-Bold','AdobeInvisFont','MyriadPro-Regular';
    color:#FFFFFF;
    padding:21px 112px 21px 111px;
    border:1px solid white; 
    background-color: black;
    text-align: center;

}
.Pricing abbr{
    font-family: 'Raleway-Bold','AdobeInvisFont','MyriadPro-Regular';
    font-size: 35px;
    border:1px solid white; 
    padding: 30px 134px 10px 134px;
    display: block;
    background-color: black;
    text-align: center;
    color:#FFFFFF;
}

.Pricing span{
    font-family: 'OpenSans-Semibold','AdobeInvisFont','MyriadPro-Regular';
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    padding: 17px 111px 22px 112px;
    border:1px solid white;
    background-color: black; 
    display: block;
    text-align: center;
}

.Pricing ul{
    display: block;
    padding-left: 0px;
}

.Pricing li{
    border:1px solid white;
    color:#86878B;
    font-family: 'OpenSans-Bold','AdobeInvisFont','MyriadPro-Regular';
    font-size: 14px;
    margin: 14px auto 14px auto;
    text-align: center;  
}

.basic{
    width: 343px;
    display: inline-block;
    margin: 115px 40px 95px 146px;
}

.professional{
    width: 343px;
    display: inline-block;
    margin-right: 40px;
}

.professional p{
    background-color: orange;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    padding:13px 0 15px 0;
}

.enterprice{
    width: 343px;
    display: inline-block;
}

.CUSTOMERS { 
    width: 100%;
    text-align: center;
    padding-top: 109px;
 }

.icon{
    width: 70px;
    height: 70px;
    margin-top: 49px;
    border-radius: 35px;
    margin-bottom: 101px;
    }

.block{
    display: inline-block;
    width: 273px;
    margin-right: 120px;
    margin-top: 55px;
}

.block p{  
    width: 248px;
    height: 82px;
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
    padding: 24px 13px 41px 12px;
    text-align: left;
    font-family: 'OpenSans','AdobeInvisFont','MyriadPro-Regular';
}

.icon--lamp{
    background: url(../img/avatar.jpeg) ;
}
.icon--keyboard{
    background: url(../img/avatar.jpeg) ;
}
.icon--lighting{
    background: url(../img/avatar.jpeg) ;
}

.STYLISH{
    width: 100%;
    
    text-align: center;
    font-family:'Raleway','AdobeInvisFont','MyriadPro-Regular';
    padding-top: 76px;
    background-color: #000000;
    background: url(../img/city.jpeg) no-repeat center center;
    background-color:rgba(0,0,0,.3);
}

.STYLISH h2{
    color: #FFFFFF;
    font-family:'Raleway','AdobeInvisFont','MyriadPro-Regular';
}

.STYLISH hr{
    width: 64px;
    height: 2px;
    background:white;
    margin:26px auto;
}

.STYLISH h4 {
    color: #86878B;
    font-size: 16px;
    opacity:0.8;    
}

.STYLISH button {
    margin-top:33px;
    width: 135px;
    height:42px;
    font-size: 15px;
    color: #FFFFFF;
    background: transparent;
    border:2px solid #FFFFFF; 
    margin-bottom: 63px;
}

.Contact{
    padding: 109px 0 0 0 ;
    width: 100%;
    height: 613px;
    background-color:#FFFFFF;
}

.form{
    width: 100%;
    margin-top: 80px;
    height: 193px;
    margin-bottom: 30px;
}

.contact{
    width: 527px;
    margin-left: 141px;
    margin-right: 69px;
    display: inline-block;
}

.contact--message{
    width: 527px;
    height: 196px;
    margin-right:139px;
    display: inline-block;
}

input[type="text"]  {
    width: 527px;
    height: 31px; 
    margin-bottom: 30px;
}

input[type="text--3"]  {
    width: 527px;
    height: 31px;
    margin-top: 80px;
}

.contact--message p{
    font-size: 14px;
    font-family:'OpenSans','AdobeInvisFont','MyriadPro-Regular';
    color: #BDBDBD;
}

.Contact button {
    width: 135px;
    height:42px;
    font-size: 15px;
    margin-left: 626px;
    background:orange;
    border:2px solid orange;
}

footer{
    width: 100%;
    height: 101px;
    background-color: black;
    padding-top: 39px;
    position: relative;
}

.social-network{
   text-align: center;
 }

footer li{
    display: inline-block ;
    padding-right: 20px;
}

footer span{
    opacity: 0.5;
    font-size: 12px;
    color: #FFFFFF;   
}